
{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content={{ goodsName }}>
{% endblock %}

{% block keywords%}
    <meta name="keywords" content={{ goodsName }}>
{% endblock %}

{% block title %}胜宝龙商城{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
    <link rel="stylesheet" href="../../static/css/goodsBrowse.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="goodsBrowse">

        <section class="header row100">
            <ul class="list full" data-id="{{ data.subClass }}">
                {% if data.subClass == 'undefine' %}
                    <li class="item current" ><a href="http://127.0.0.1:8000/allGoods/undefine/">全部商品</a></li>
                {% else %}
                    <li class="item" ><a href="http://127.0.0.1:8000/allGoods/undefine/">全部商品</a></li>
                {% endif %}
                {% if data.subClass == 'dropLamp' %}
                    <li class="item current"><a href="http://127.0.0.1:8000/allGoods/dropLamp/">吊灯</a></li>
                {% else %}
                    <li class="item"><a href="http://127.0.0.1:8000/allGoods/dropLamp/">吊灯</a></li>
                {% endif %}
                {% if data.subClass == 'deskLamp' %}
                    <li class="item current"><a href="http://127.0.0.1:8000/allGoods/deskLamp/">台灯</a></li>
                {% else %}
                    <li class="item"><a href="http://127.0.0.1:8000/allGoods/deskLamp/">台灯</a></li>
                {% endif %}
                {% if data.subClass == 'parlorLamp' %}
                    <li class="item current"><a href="http://127.0.0.1:8000/allGoods/parlorLamp/">客厅灯</a></li>
                {% else %}
                    <li class="item"><a href="http://127.0.0.1:8000/allGoods/parlorLamp/">客厅灯</a></li>
                {% endif %}
                {% if data.subClass == 'roomLamp' %}
                    <li class="item current"><a href="http://127.0.0.1:8000/allGoods/roomLamp/">餐厅灯</a></li>
                {% else %}
                    <li class="item"><a href="http://127.0.0.1:8000/allGoods/roomLamp/">餐厅灯</a></li>
                {% endif %}
            </ul>
        </section>

        <section class="content">
            <ul class="list full">

                {% for goods in data.goodsList %}

                    <li class="item">
                        <a class="goods-image" href="{{ goods.goodsDescUrl }}">
                            <img class="full" src={{ goods.minImageUrl }}>
                        </a>
                        <a class="goods-name" href="{{ goods.goodsDescUrl }}">{{ goods.goodsName }}</a>
                        <span class="price-tag">￥</span>
                        <span class="price-num">{{ goods.price }}</span>
                    </li>

                {% endfor %}

            </ul>
        </section>

        <section class="page">
            {% if data.pageResult.has_previous %}
                <a class href="http://127.0.0.1:8000/allGoods/{{ data.subClass }}?page={{ data.pageResult.previous_page_number }}">上一页</a>
            {% endif %}
            {% for page_number in data.new_page_range %}
                {% ifequal page_number data.pageResult.number %}
                    <a class="current" href="http://127.0.0.1:8000/allGoods/{{ data.subClass }}?page={{ page_number }}">{{ page_number }}</a>
                {% else %}
                    <a href="http://127.0.0.1:8000/allGoods/{{ data.subClass }}?page={{ page_number }}">{{ page_number }}</a>
                {% endifequal %}
            {% endfor %}
            {% if data.pageResult.has_next %}
                <a class href="http://127.0.0.1:8000/allGoods/{{ data.subClass }}?page={{ data.pageResult.next_page_number }}">下一页</a>
            {% endif %}


        </section>
    </div>
{% endblock %}