
{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content={{ goodsName }}>
{% endblock %}

{% block keywords%}
    <meta name="keywords" content={{ goodsName }}>
{% endblock %}

{% block title %}胜宝龙商城{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
    <link rel="stylesheet" href="../../static/css/goodsBrowse.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="goodsBrowse">

        <section class="header row100">
            <ul class="list full">
                <li class="item current"><a data-id="undefine">全部商品</a></li>
                <li class="item"><a data-id="dropLamp">吊灯</a></li>
                <li class="item"><a data-id="deskLamp">台灯</a></li>
                <li class="item"><a data-id="parlorLamp">客厅灯</a></li>
                <li class="item"><a data-id="roomLamp">餐厅灯</a></li>
            </ul>
        </section>

        <section class="content">
            <ul class="list full">

                {% for goods in goodsList %}

                    <li class="item">
                        <a class="goods-image" href="{{ goods.goodsDescUrl }}">
                            <img class="full" src={{ goods.minImageUrl }}>
                        </a>
                        <a class="goods-name" href="{{ goods.goodsDescUrl }}">钢琴</a>
                        <span class="price-tag">￥</span>
                        <span class="price-num">{{ goods.price }}</span>
                    </li>

                {% endfor %}

            </ul>
        </section>

        <section class="page">
            <a class href="http://127.0.0.1/goods/page/1">上一页</a>
            <a class="current" href="http://127.0.0.1/goods/page/1">1</a>
            <a href="http://127.0.0.1/goods/page/1">1</a>
            <a href="http://127.0.0.1/goods/page/1">下一页</a>
        </section>
    </div>
{% endblock %}