

{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content={{ goodsName }}>
{% endblock %}

{% block keywords%}
    <meta name="keywords" content={{ goodsName }}>
{% endblock %}

{% block title %}{{ goodsName }}{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/goodsInfo.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="goodsInfo">
{#        头部#}
        <section class="header">
            <div class="row50 col100">
                <ul class="list float-left col80 row15">
                    <li class="item current">
                        <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    </li>
                    <li class="item">
                        <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    </li>
                    <li class="item">
                        <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    </li>
                </ul>
                <div class="row80 col80">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                </div>
                <div class="bottom row100 col10">
                    <a href="javascript:void(0);" class="icon icon-collect"></a>
                </div>
            </div>
            <div class="right col100">
                <div class="row100 col20">
                    <h3 class="goodsName">标题</h3>
                    <div class="gap-line"></div>
                    <input type="hidden" id="goodsId" value="11">
                </div>

                <table>
                    <colgroup><col width="100"></colgroup>
                    <tbody>
                        <tr>
                            <td>价格</td>
                            <td>
                                <span class="price-tag">￥</span>
                                <span class="price-num">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td>运费</td>
                            <td>
                                <span class="price-tag">￥</span>
                                <span class="price-num">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td>销量</td>
                            <td>
                                <span class="sale-num">0</span>
                                <span class=>库存</span>
                                <span class="invent-num">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td>数量</td>
                            <td>
                                <a class="icon icon-minus"></a>
                                <input class="input-num" type="text" value="1">
                                <a class="icon icon-plus"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-list">
                    <a href="javascript:void(0);" class="buy-now">立即购买</a>
                    <a href="javascript:void(0);" class="buy-bag">加入购物车</a>
                </div>
            </div>
            <div>

            </div>
        </section>

{#    详情#}
        <section class="datail">
            <h3 class="title">商品详情</h3>
            <div class="goods-desc">
                <img src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                <img src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                <img src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
            </div>
        </section>
    </div>
{% endblock %}