
{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content=所有商品>
{% endblock %}

{% block keywords%}
    <meta name="keywords" content=所有商品>
{% endblock %}

{% block title %}所有商品{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
    <link rel="stylesheet" href="../../static/css/userBackgroup.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="allGoods">

{% include 'common/userNavBar.html' %}
        <div class="page-containter">
            <section class="title">
                <h3>所有商品</h3>
            </section>

            <section class="orders-info">
                <table class="orders-table" cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                                <col width="100">
                                <col width="100">
                                <col width="70">
                                <col width="140">
                                <col width="70">
                                <col width="70">
                                <col width="100">
                                <col width="70">
                                <col width="100">
                                <col width="70">
                            </colgroup>
                    <thead>
                                <tr>
                                    <th>图片</th>
                                    <th>商品名</th>
                                    <th>商品ID</th>
                                    <th>描述</th>
                                    <th>单价</th>
                                    <th>运费</th>
                                    <th>分类</th>
                                    <th>销量</th>
                                    <th>库存</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                    <tbody>
                    {% for goods in data.goodsList %}
                        <tr>
                            <td><div class="price"><a href="{{ goods.goodsDescUrl }}"><img class="goods-image-size" src="{{ goods.minImageUrl1 }}"></a></div></td>
                            <td><div class="price"><a href="{{ goods.goodsDescUrl }}">{{ goods.goodsName }}</a></div></td>
                            <td><div class="price js-goodsId">{{ goods.goodsId }}</div></td>
                            <td><div class="price">{{ goods.description }}</div></td>
                            <td><div class="price">￥<span>{{ goods.price }}</span></div></td>
                            <td><div class="price">￥<span>{{ goods.freightCost }}</span></div></td>
                            <td><div class="price">{{ goods.subClass }}</div></td>
                            <td><div class="price">{{ goods.saleCount }}</div></td>
                            <td><div class="price">{{ goods.inventoryCount }}</div></td>
                            <td><div class="price"><a class="js-delete" href="javascript:void(0);"><i class="icon icon-address icon-del-address"></i></a></div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </section>
            <section class="page">
                {% if data.pageResult.has_previous %}
                    <a class href="/managerBackgroup/goods?page={{ data.pageResult.previous_page_number }}">上一页</a>
                {% endif %}
                {% for page_number in data.new_page_range %}
                    {% ifequal page_number data.pageResult.number %}
                        <a class="current" href="/managerBackgroup/goods?page={{ page_number }}">{{ page_number }}</a>
                    {% else %}
                        <a href="/managerBackgroup/goods?page={{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if data.pageResult.has_next %}
                    <a class href="/managerBackgroup/goods?page={{ data.pageResult.next_page_number }}">下一页</a>
                {% endif %}


            </section>
        </div>
    </div>

{% endblock %}