
{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content={{ goodsName }}>
{% endblock %}

{% block keywords%}
    <meta name="keywords" content={{ goodsName }}>
{% endblock %}

{% block title %}{{ goodsName }}{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
    <link rel="stylesheet" href="../../static/css/userBackgroup.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="allOrder">

{% include 'common/managerNavBar.html' %}
        <div class="page-containter">
            <section class="title">
                <h3>所有订单</h3>
            </section>

            <section class="orders-info">
                <ul>
                {% for order in ordersList %}
                    <li>
                        <table class="orders-table" cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col width="180">
                                <col width="255">
                                <col width="83">
                                <col width="73">
                                <col width="110">
                                <col width="103">
                                <col width="86">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>2016-15-45 15:15:02</th>
                                    <th>订单编号:<span>41564</span></th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>总计</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
{#                            订单所有goods#}
                            {% for goods in order.goodsList %}
                                {% if forloop.first %}
                                    <tr>
                                        <td><div><a href="{{ goods.goodsDescUrl }}" class="goods"><img class="goods-image" src="{{ goods.minImageUrl1 }}"></a></div></td>
                                        <td><div class="price"><a href="{{ goods.goodsDescUrl }}">{{ goods.goodsName }}</a></div></td>
                                        <td><div class="price">￥<span>{{ goods.price }}</span></div></td>
                                        <td class="gap-line-right"><div class="price">{{ goods.count }}</div></td>
                                        <td rowspan="2"><div class="price">￥<span>{{ order.totalPrice }}</span></div></td>
                                        <td rowspan="2"><div class="price"><a href="javascript:void(0);">{{ order.status }}</a></div></td>
                                        <td rowspan="2"><div class="price"><a href="javascript:void(0);" data-id="{{ order.orderId }}">删除</a></div> </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td><div><a href="{{ goods.goodsDescUrl }}" class="goods"><img class="goods-image" src="{{ goods.minImageUrl1 }}"></a></div></td>
                                        <td><div class="price"><a href="{{ goods.goodsDescUrl }}">{{ goods.goodsName }}</a></div></td>
                                        <td><div class="price">￥<span>{{ goods.price }}</span></div></td>
                                        <td class="gap-line-right"><div class="price">{{ goods.count }}</div></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {#订单地址#}
                                <tr>
                                    <td class="address gap-line-right" colspan="4">
                                        <div>
                                            <span>收件地址:</span>
                                            <span>{{ order.address.contact }}</span>
                                            <span>{{ order.address.phoneNumber }}</span>
                                            <span>{{ order.address.address }}</span>
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <div>
                                            <span>快递单号:</span>
                                            <span>{{ order.express.company }}</span>
                                            <span>{{ order.express.expressId }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                {% endfor %}
                </ul>
            </section>


        </div>
    </div>

{% endblock %}