
{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content="我的订单">
{% endblock %}

{% block keywords%}
    <meta name="keywords" content="我的订单">
{% endblock %}

{% block title %}我的订单{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
    <link rel="stylesheet" href="../../static/css/userBackgroup.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="myOrder">

{% include 'common/userNavBar.html' %}
        <div class="page-containter">
            <section class="title">
                <h3>我的订单</h3>
            </section>

            <section class="orders-info">
                <ul>
                {% for order in data.orderList %}
                    <li>
                        <table class="orders-table" cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col width="180">
                                <col width="255">
                                <col width="83">
                                <col width="73">
                                <col width="110">
                                <col width="103">
                                <col width="86">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{{ order.createDate }}</th>
                                    <th>订单编号:<span>{{ order.orderId }}</span></th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>总计</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {#                            订单所有goods#}
                            {% for goods in order.goodsList %}
                                {% if forloop.first %}
                                    <tr>
                                        <td><div><a href="{{ goods.goodsDescUrl }}" class="goods"><img class="goods-image" src="{{ goods.minImageUrl1 }}"></a></div></td>
                                        <td><div class="price"><a href="{{ goods.goodsDescUrl }}">{{ goods.goodsName }}</a></div></td>
                                        <td><div class="price">￥<span>{{ goods.price }}</span></div></td>
                                        <td class="gap-line-right"><div class="price">{{ goods.count }}</div></td>
                                        <td rowspan={{ order.goodsCount }}><div class="price">￥<span>{{ order.totalPrice }}</span></div></td>
                                        <td rowspan={{ order.goodsCount }}><div class="price"><label>{{ order.status }}</label></div></td>
                                        <td rowspan={{ order.goodsCount }}><div class="price"><a class="js-delete-order" href="javascript:void(0);" data-id="{{ order.orderId }}">删除</a></div> </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td><div><a href="{{ goods.goodsDescUrl }}" class="goods"><img class="goods-image" src="{{ goods.minImageUrl1 }}"></a></div></td>
                                        <td><div class="price"><a href="{{ goods.goodsDescUrl }}">{{ goods.goodsName }}</a></div></td>
                                        <td><div class="price">￥<span>{{ goods.price }}</span></div></td>
                                        <td class="gap-line-right"><div class="price">{{ goods.count }}</div></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                <tr>
                                    <td class="address gap-line-right" colspan="4">
                                        <div>
                                            <span>收件地址:</span>
                                            <span>{{ order.contact }}</span>
                                            <span>{{ order.phoneNumber }}</span>
                                            <span>{{ order.address }}</span>
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <div>
                                            <span>快递单号:</span>
                                            {% if order.company %}
                                                <span>{{ order.company }}</span>
                                            {% else %}
                                                <span>{{ order.company }}等待发货</span>
                                            {% endif %}
                                                <span>{{ order.expressId }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                {% endfor %}
                </ul>
            </section>

            <section class="page">
                {% if data.pageResult.has_previous %}
                    <a class href="http://127.0.0.1:8000/userBackgroup/order?page={{ data.pageResult.previous_page_number }}">上一页</a>
                {% endif %}
                {% for page_number in data.new_page_range %}
                    {% ifequal page_number data.pageResult.number %}
                        <a class="current" href="http://127.0.0.1:8000/userBackgroup/order?page={{ page_number }}">{{ page_number }}</a>
                    {% else %}
                        <a href="http://127.0.0.1:8000/userBackgroup/order?page={{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if data.pageResult.has_next %}
                    <a class href="http://127.0.0.1:8000/userBackgroup/order?page={{ data.pageResult.next_page_number }}">下一页</a>
                {% endif %}

            </section>
        </div>
    </div>

{% endblock %}