

/*reset*/
html, body, h1, h2, h3, h4, h4, h5,h6, div, dl, dt, dd, ul, ol, li, p, a, span, i, em,
blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button,
textarea, menu{
    padding: 0;
    margin: 0;
}

/*default*/
div{
    display: block;
}

body{
    font-size: 14px;
    line-height: 1.6em;
    font-family: "Microsoft YaHei Light","Microsoft YaHei",Arial,Helvetica,"Hiragino Sans GB","SimSun","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background: #fff;
}
a{
    text-decoration: none;
    cursor: pointer;
}


/*nav*/
.nav{
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 8px solid #363636;
}
.nav .logo{

}

/*container*/
.container{
    width: 1170px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

/*bottom*/
.bottom{
    height: 60px;
    width: 100%;
    bottom: 0px;
    background-color: black;
    position: absolute;
    z-index: 1000;
}

