

/*reset*/
html, body, h1, h2, h3, h4, h4, h5,h6, div, dl, dt, dd, ul, ol, li, p, a, span, i, em,
blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button,
textarea, menu{
    padding: 0;
    margin: 0;
}

/*default*/
div{
    display: block;
}

li{
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent;
}
body{
    font-size: 14px;
    line-height: 1.6em;
    font-family: "Microsoft YaHei Light","Microsoft YaHei",Arial,Helvetica,"Hiragino Sans GB","SimSun","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background: #fff;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}


/*nav*/
.nav{
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 8px solid #363636;
}
.nav .item{
    vertical-align: middle;
    display: inline-block;
}
.nav .item .logo{
    margin-left: 15px;
    width: 180px;
    height: 80px;
    display: block;
    background: url(http://127.0.0.1:8000/static/image/sbolo-logo.png) left center no-repeat;
}

.nav .item .search-text{
    width: 255px;
    height: 34px;
    border: 1px solid #363636;
    float: left;
    padding-left: 15px;
    font-size: 14px;
}

.nav .item .search-btn{
    width: 60px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #363636;
    float: left;
    border-radius: 0 8px 8px 0;
    border: 0;
}
.item .search-btn .search-icon{
    width: 21px;
    height: 21px;
    background-position: -45px -25px;
    vertical-align: middle;
}
.icon-right{
    width: 21px;
    height: 21px;
    vertical-align: middle;
}
.item .user .icon-right{
    margin-left: 250px;
    background-position: -314px -23px;
}
.item .cart .icon-right{
    margin-left: 20px;
    background-position: -382px -22px;
}

/*common*/
/*container*/
.container{
    width: 1170px;
    /*background-color: #FFFFFF;*/
    margin: 0 auto;
}

.full{
    width: 100%;
    height: 100%;
}
.icon{
    display: inline-block;
    background: url(../image/sbolo-icon.png);
}

.row10{
    width: 10%;
}
.row20{
    width: 20%;
}
.row30{
    width: 30%;
}
.row33{
    width: 33.33%;
}
.row40{
    width: 40%;
}
.row50{
    width: 50%;
}
.row60{
    width: 60%;
}
.row66{
    width: 66.67%;
}
.row70{
    width: 70%;
}
.row80{
    width: 80%;
}
.row90{
    width: 90%;
}
.row100{
    width: 100%;
}
.col10{
    height: 10%;
}
.col20{
    height: 20%;
}
.col30{
    height: 30%;
}
.col33{
    height: 33.37%;
}
.col40{
    height: 40%;
}
.col50{
    height: 50%;
}
.col60{
    height: 60%;
}
.col66{
    height: 66.67%;
}
.col70{
    height: 70%;
}
.col80{
    height: 80%;
}
.col90{
    height: 90%;
}
.col100{
    height: 100%;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}