

.content {
    min-height: 800px;
    font-size: 16px;
    background-color: #FFFFFF;
}
.content .text{
    margin-top: 20px;
    text-align: center;
}
.content .no-result-img{
    margin: 100px auto auto auto;
    text-align: center;
}




