
.user-page-left{

    float: left;
    margin: 40px 50px 0 0;
    width: 134px;
    padding: 30px 23px 50px;
    background-color: #FFFFFF;
}

.user-page-left .title{
    font-weight: normal;
    padding-bottom: 13px;
    text-align: center;
    line-height: 21px;
    color: #000;
    font-size: 18px;
    border-bottom: 1px dashed #ccc;
}

.user-page-left .list{
    padding: 8px 0 0 17px;
}
.user-page-left .list .item{
    list-style: square;
    margin: 10px auto 0px auto;
    color: #c3c3c3;
    font-size: 14px;
}
.user-page-left .list .item a{
    display: block;
    line-height: 34px;
    color: #363636;
}
.user-page-left .list .current,
.user-page-left .list .current a{
    color: #ee3531;
}

.page-containter{
    float: left;
    margin-top: 40px;
    width: 890px;
    padding-bottom: 90px;
    min-height: 715px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}
.page-containter .title{
    display: block;
    background-color: #FFFFFF;
}
.page-containter .title h3{
    margin: 20px auto 20px 30px;
    height: 50px;
    line-height: 50px;
}

.page-containter .title .add-address{
    display: inline-block;
    margin-left: 600px;
    padding: 0 13px;
    height: 38px;
    color: #fff;
    border-radius: 8px;
    background-color: #a2a2a2;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
}
.page-containter .title .add-address .icon-add{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -316px -218px;
    vertical-align: middle;
    margin-right: 7px;
}
.content{
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}
.content .list{
    width: 100%;
    overflow: hidden;
}
.content .list .item{
    width: 262px;
    height: 360px;
    margin: 0 12px 40px 12px;
    float: left;
}
.content .list .item .goods-image{
    display: block;
    width: 100%;
    height: 262px;
    line-height: 262px;
    border: 1px solid #ededed;
}
.content .list .item .goods-name{
    display: block;
    margin-top: 20px;
}
.content .list .item .price-tag{
    display: inline-block;
    color: #ff6753;
    font-size: 14px;
    margin-top: 10px;
}
.content .list .item .price-num{
    display: inline-block;
    color: #ff6753;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}


.table .text-left{
    padding-left: 30px;
    text-align: left;
}
.table .text-center{
    text-align: center;
}
.table th{
    font-weight: normal;
    background-color: #e6e7e8;
    height: 40px;
    line-height: 40px;
    /*text-align: center;*/
    color: #363636;
}
.table td div{
    margin: 40px 20px 40px 20px;
    vertical-align: middle;
}
.table tbody{
    background-color: #FFFFFF;
}

.orders-table .icon-address,
.table .icon-address{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 0;
}
.orders-table .icon-edit-address,
.table .icon-edit-address{
    background-color: #a2a2a2;
    background-position: -491px -152px;
    margin-right: 5px;
}
.orders-table .icon-del-address,
.table .icon-del-address{
    background-color: #727272;
    background-position: -567px -157px;
}

/*address momdal*/
.address-modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
}
.address-modal .modal-mask{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}
.address-modal .modal-main{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 704px;
    height: 410px;
    margin: -205px 0 0 -302px;
    background-color: #fff;
    box-shadow: 0 0 10px #666;
    color: #363636;
    font-size: 18px;
}
.address-modal .modal-main .modal-header{
    padding-left: 40px;
}
.address-modal .modal-main .modal-header,
.address-modal .modal-main .modal-footer{
    color: #363636;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    background-color: #efefef;
}
.address-modal .modal-main .modal-footer{
    vertical-align: middle;
    margin-top: 50px;
}
.address-modal .modal-main .close-btn{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.address-modal .modal-main .close-icon {
    vertical-align: middle;
    background-position: -434px -39px;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.address-modal .modal-main .modal-content{
    margin: 20px auto 20px auto;
    display: block;
    text-align: center;
}
.address-modal .modal-main .modal-content .input{
    display: block;
    margin: 20px auto auto 80px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #c2c3c6;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    color: #363636;
    font-size: 14px;
}
.address-modal .modal-main .modal-content .input-small{
    width: 250px;
}
.address-modal .modal-main .modal-content .input-big{
    width: 470px;
}
.address-modal .modal-main .modal-content .default-checkbox{
    margin: 30px 80px auto 80px;
    text-align: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}
.address-modal .modal-main .modal-content .default-checkbox .check{
    margin: 2px 03px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.address-modal .modal-main .modal-footer .submit-btn,
.address-modal .modal-main .modal-footer .cancel-btn{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;

}
.address-modal .modal-main .modal-footer .cancel-btn{
    background-color: #FFFFFF;
    color: #363636;
    margin-top: 10px;
    margin-left: 67px;
}
.address-modal .modal-main .modal-footer .submit-btn{
    background-color: #363636;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 320px;
}

/*我的资料*/
.information .list,
.information .item{
    background-color: #FFFFFF;
}
.information .list .item{
    margin: 40px auto auto auto;
    height: 150px;
    border-bottom: 1px solid #e3e3e3;
}
.information .list .item .title{
    padding-top: 35px;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}
.information .list .item .icon-check{  display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #69c231;
    background-position: -486px -216px;
    background-position-x: -486px;
    background-position-y: -216px;
    vertical-align: middle;
    margin: -2px 13px auto 50px;
}
.information .list .item .nike-name{
    display: inline-block;
    width: 600px;
    margin: 20px auto auto 85px;
}
.information .list .item .modify{
    display: inline-block;
    margin: 20px auto auto 100px;
}


/*我的订单*/
.page-containter .orders-info{
    width: 100%;
}
.page-containter .order-title{
    font-weight: normal;
    font-size: 18px;
    color: #363636;
    padding-left: 25px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    margin-top: 40px;
    margin-left: 0px;
}
.orders-info .orders-table tbody{
    background-color: #FFFFFF;
}
.orders-info .orders-table th{
    font-weight: normal;
    background-color: #e6e7e8;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #363636;
}
.orders-info .orders-table td div{
    margin: 10px 20px 10px 20px;
    vertical-align: middle;
}
.orders-info .orders-table td .price{
    text-align: center;
}
.orders-info .orders-table td .goods-image{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 50px;
}
.orders-info .orders-table td .goods{
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}
.orders-info .orders-table td .goods-image-size{
    margin: 0;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.orders-info .orders-table td{
    border-bottom: 1px solid #efefef;
}
.orders-info .orders-table .gap-line-right{
    border-right: 1px solid #EFEFEF;
}
.orders-info .orders-table .address{
    padding-left: 20px;
}
.orders-info .orders-table .address span{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto 10px auto;
}


/*上传商品*/
.page-containter .upload-info .gap-line{
    width: 100%;
    height: 1px;
    background-color: #EFEFEF;
}
.page-containter .upload-info .header-image{
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.page-containter .upload-info .title{
    border-bottom: 1px solid #EFEFEF;
    margin: 0px 1px 0px 1px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #EFEFEF;
}
.page-containter .upload-info .hide-input{
    position: absolute;
    font-size: 0px;
    z-index: 2000;
    opacity: 0;
    float: left;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url(http://127.0.0.1:8000/static/image/sbolo-logo.png) left center no-repeat;
}
.page-containter .upload-info .mask-input{
    position: absolute;
    z-index: 0;
    float: left;
    cursor: pointer;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #EFEFEF;
}
.page-containter .upload-info .left ul{
    overflow: hidden;
}
.page-containter .upload-info .left li{
    float: left;
    width: 177px;
    height: 177px;
    position: relative;
}
.page-containter .upload-info .right ul{
    overflow: hidden;
}
.page-containter .upload-info .right td{
    padding-top: 30px;
    height: 40px;
    vertical-align: middle;
}
.page-containter .upload-info .right .input-num{
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    width: 237px;
}

.page-containter .upload-info .right .name{
    text-align: center;
}
.page-containter .upload-info .right .desc-input{
    height: 200px;
}
.page-containter .upload-info .right textarea{
    width: 237px;
    height: 100%;
    line-height: 20px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #EFEFEF;
}
.page-containter .upload-info .right ul .item{
    float: left;
    width: 63px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.page-containter .upload-info .right ul .current{
    background-color: #EFEFEF;
}
.page-containter .upload-info .right .submit-btn{
    display: inline-block;
    padding: 0;
    background-color: #ee3531;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    font-family: "microsoft yahei light";
    color: #fff;
    width: 300px;
    margin-left: 23px;
}