{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content=是针对大众开设的基于线上的商城。主要经营智能硬件产品，包含胜宝龙灯具品类。胜宝龙商城作为一个网络销售平台，将优质灯具供应给消费者。在这个过程中，销售者不需要经过经销商、门店，无后顾之忧，轻松获取最大收益。>
{% endblock %}

{% block keywords%}
    <meta name="keywords" content=胜宝龙商城、胜宝龙>
{% endblock %}

{% block title %}联系我们{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="bigSale">

        <section class="static-content">
            <h3 class="margin-bottom50">大批量采购与渠道合作</h3>
            <p>如果您有批量采购需求，</p>
            <p>或希望获得更优质的进货渠道，</p>
            <p>以及享受更专业的选品服务，</p>
            <p>您可以与我们取得联系，</p>
            <p>我们有专业团队支持这项业务。</p>
            <p>我们希望连接优质智能产品与消费者，</p>
            <p>正需要你的渠道，</p>
            <p>一起实现这一目标。</p>
            <p>你会很享受整个过程，</p>
            <p>无后顾之忧，轻松获得最大收益。</p>
            <p>联系我们：18898655184</p>
            <p>邮箱：1003768663@qq.com</p>
        </section>

    </div>

{% endblock %}