<!DOCTYPE html>
<html lang="zh-Hans">
<body>
    <footer class="bottom">
        <div class="container">
            <section class="top">
                <ul class="list">
                    <li class="item">
                        <i class="icon icon-truth"></i>
                        <span>正品保证</span>
                    </li>
                     <li class="item">
                        <i class="icon icon-product"></i>
                        <span>生产严格把关</span>
                    </li>
                     <li class="item">
                        <i class="icon icon-7"></i>
                        <span>7天无理由退换</span>
                    </li>
                     <li class="item">
                        <i class="icon icon-free"></i>
                        <span>大陆地区包邮</span>
                    </li>
                </ul>
            </section>

            <section class="middle">
                <ul class="list">
                    <li class="item">
                        <a href="http://127.0.0.1:8000/bottom/about/">关于我们</a>
                    </li>
                    <li class="item">
                        <a href="http://127.0.0.1:8000/bottom/saleBack/">服务与支持</a>
                    </li>
                    <li class="item">
                        <a href="http://127.0.0.1:8000/bottom/bigSale/">联系我们</a>
                    </li>
                    <li class="item">
                        <a href="http://127.0.0.1:8000/bottom/privacy/">隐私条款</a>
                    </li>
                </ul>

            </section>

            <section class="down">
                <p>Copyright © 2016，惠州市胜宝龙灯饰有限公司. All Rights Reserved.</p>
                <p>粤 ICP备123456号－6</p>
            </section>

        </div>
    </footer>
</body>
</html>