<!DOCTYPE html>
<html lang="en">
<body>

    <div id="pop" class="login-modal" style="display: none">
        <div class="modal-mask"></div>
        <div class="modal-main">
            <a class="close-btn" href="javascritpt:void(0);">
                <i class="passport-icon close-icon"></i>
            </a>
            <h1 class="passport-logo">
                <img src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
            </h1>
            <div class="modal-content">
                <input class="input" type="text" placeholder="请输入6-15位账户">
                <input class="input" type="text" placeholder="请输入6-15位密码">
                <a class="submit-btn" href="javascritpt:void(0);">进入</a>
            </div>

        </div>
    </div>

</body>
</html>