<!DOCTYPE html>
<html lang="zh-Hans">
<body>
    <header class="nav">
        <div class="container">
            <label class="item"><a class="full logo" href="http://127.0.0.1:8000/home/"></a></label>
            <label class="item">
                <form action="http://127.0.0.1:8000/search/" method="get">
                    <input class="search-text" type="text" placeholder="搜索" name="keyword">
                    <button class="search-btn cursor-pointer" type="submit">
                        <i class="search-icon icon"></i>
                    </button>
                </form>
            </label>
            <label class="item">
                <a href="http://127.0.0.1:8000/home/" class="js-home home">首页</a>
                <a href="http://127.0.0.1:8000/allGoods/undefine" class="js-goods goods ">商品</a>
            </label>
            <label class="item">
                <a href="javascript:void(0);" class="user js-login" data-id="">
                    <i class="icon icon-right"></i>
                    {% if isLogin == 'false' %}
                        <span class="js-loginName">登录</span>
                    {% else %}
                        <span class="js-loginName">个人中心</span>
                    {% endif %}
                </a>

            </label>
            <label class="item">
                {% if isLogin == 'false' %}
                <a href="javascript:void(0);" class="logout js-logout" style="display: none">
                    <span>退出</span>
                </a>
            {% else %}
                <a href="javascript:void(0);" class="logout js-logout" style="display: block">
                    <span>退出</span>
                </a>
            {% endif %}
            </label>
            <label class="item">
                <a href="javascript:void(0);" class="cart" href="http://127.0.0.1:8000/shoppingCart">
                    <i class="icon icon-right"></i>
                    <span>购物车</span>
                </a>
            </label>
        </div>
    </header>
</body>
</html>