<!DOCTYPE html>
<html lang="zh-Hans">
<body>
    <header class="nav">
        <div class="container">
            <label class="item"><a class="logo" href="http://127.0.0.1:8000/home/"></a></label>
            <form action="http://127.0.0.1:8000/search/" method="get">
                <label class="item">
                    <input type="text" placeholder="搜索" name="keyword">
                    <button type="submit"></button>
                </label>
            </form>
            <label class="item">
                <a class="user">
                    <i class="icon icon-user"></i>
                    <span>登录</span>
                </a>
            </label>
            <label class="item">
                <a class="cart">
                    <i class="icon icon-cart"></i>
                </a>
            </label>
        </div>
    </header>
</body>
</html>