{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content={{ goodsName }} xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block keywords%}
    <meta name="keywords" content={{ goodsName }}>
{% endblock %}

{% block title %}{{ goodsName }}{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/bottom.css">
{% endblock %}

{% block content %}

    <div id="page" class="container" data-id="saleBack">

        <section class="static-content">
            <h3 class="margin-bottom50">售后政策</h3>
            <p class="margin-bottom30">自商品售出之日（以实际签收日期为准）起7日内可以退换货，15日内可以换货，您可在线提交退换申请办理退换货事宜。具体退换货标准如下：</p>
            <h4>一、7天无理由退货</h4>
            <p class="margin-bottom15">
                1，在确认商品没有人为损坏，外观没有使用中留下的划痕和磕碰痕迹的情况下，申请退货后，客服会在2个工作日内联系您。届时请将发票、商品、外包装、附件、说明书及保修卡一起寄到指定收货地址。在收到退件，经核实无误后，可为您办理 7 天内无理由退货及退款。产生的运费将由您来承担。
            </p>
            <p class="margin-bottom15">
                2，因商品本身质量问题、物流损坏、缺件或与网站商品描述不符等原因申请退货，不收取物流返回费用，请您先行垫付快递费用，将快递费发票与商品一起寄回，我们将依据您的快递发票实报实销，最高限额为 20 元/单。
            </p>
            <p class="margin-bottom15">
                3，其他原因申请退货，产生的运费将由您来承担。
            </p>
            <h4>二、质量问题15日换货</h4>
            <p class="margin-bottom15">
                1，从您签收商品次日起的15日内（含15日），因商品质量问题引起的换货，待客服联系您确认后，请将商品寄到指定收货地址，经检验该商品符合换货条件，将为您办理换货，不收取返回运费，请您先行垫付快递费用，将快递费发票与商品一起寄回，我们将依据您的快递发票实报实销，最高限额为20元/单。
            </p>
            <p>2，消费者只有在满足以下全部退换货条件时，才可办理退换货</p>
            <p>a. 退换货商品请保留商品的全部配件；</p>
            <p>b. 需将所购商品、赠品及发票等完好无损地一同寄回。</p>
            <p  class="margin-bottom15">c. 不属于不予办理退换货的情况；</p>

            <p>3，以下情况不予办理退换货</p>
            <p>a. 不是从本网站购买的商品；</p>
            <p>b. 超过产品三包保修期的商品；</p>
            <p>c. 未按商品说明书的要求使用或所指示的商品工作环境使用、维护、保管而造成损坏的或擅自拆卸、 维修或更改系统软件造成损坏或功能异常的，擅自涂改、撕毁标贴、机器序号、防伪标记；</p>
            <p>d. 商品的外包装、附件、配件、赠品、说明书不完整，发票缺失或涂改；</p>
            <p>e. 未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量 问题，或撕毁、涂改标贴、机器序号、防伪标记；</p>
            <p>f. 不能出示商品有效保修凭证和有效原始购物发票或收据，商品原序列号标签有涂改、替换、撕毁的 现象；</p>
            <p>g. 商品没有序列号或保修凭证上的产品型号或编号与商品实物不相符合；</p>
            <p>h. 人为行为导致产品损坏的；</p>
            <p>i. 未在规定时间内寄出退换货商品的；</p>
            <p>j. 因自然灾害等不可抗力造成损坏的。</p>
        </section>

    </div>

{% endblock %}