<!DOCTYPE html>
<html lang="zh-Hans">
<body>

    <div class="user-page-left">
        <h2 class="title">个人中心</h2>
        <ul class="list">
            <li class="item js-order"><a data-id='order' href="javascript:void(0);">我的订单</a></li>
            <li class="item js-collect"><a data-id='collect' href="javascript:void(0);">我的收藏</a></li>
            <li class="item js-address"><a data-id='address' href="javascript:void(0);">我的地址</a></li>
            <li class="item js-userInfo"><a data-id='userInfo' href="javascript:void(0);">我的资料</a></li>
        </ul>
    </div>
</body>
</html>