

{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content="首页">
{% endblock %}

{% block keywords%}
    <meta name="keywords" content="首页">
{% endblock %}

{% block title %}首页{% endblock %}


{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/bottom.css">
{% endblock %}

{% block content %}

<div id="page" class="container" data-id="home">
{#广告图#}
    <section class="banner">
        {#        left#}
        <div class="col100 row50">
            <a href="javascript:void(0);" class="full">
                <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
            </a>
        </div>
        <div class="col100 row50">
            <div class="col60 row100">
                <a href="javascript:void(0);" class="full">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                </a>
            </div>
            <div class="col40 row100">
                <a href="javascript:void(0);" class="float-left row50 col100">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                </a>
                <a href="javascript:void(0);" class="float-left row50 col100">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                </a>
            </div>
        </div>
    </section>

    {#人气#}
    <section class="hotgoods">
        <div class="col100 row33 float-left">
            <label class="small">
                <a href="javascript:void(0);" class="row100 col33 blank">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="datail">
                        分行了司法导师非礼阿发死不发挥了福大dhadhso;dlakdabhhlfudgsbrwqerr䦹ladlsjfadsjfbjsda
                    </p>
                </a>
            </label>
            <label class="big">
                <a href="javascript:void(0);" class="row100 col66 blank">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="datail">
                        分行了司法导师非礼阿发死不发挥了福大dhadhdhadhso;dlakdabhhlfudgsbladlsjfadsjfbjsda
                    </p>
                </a>
            </label>
        </div>
        <div class="col100 row33 float-left">
            <label class="big">
                <a href="javascript:void(0);" class="row100 col66 blank">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="datail">
                        dhadhso;dlakdabhhlfudgsbladlsjfadsjfbjsda
                    </p>
                </a>
            </label>
            <label class="small">
                <a href="javascript:void(0);" class="row100 col33 blank">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="datail">
                        dhadhso;dlakdabhhlfudasdsdfafewfrewqrdgsbladlsjfadsjfbjsda
                    </p>
                </a>
            </label>
        </div>
        <div class="col100 row33 float-left">
            <label class="small">
                <a href="javascript:void(0);" class="row100 col33 blank">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="datail">
                        dhadhso;dlakdabhhlfudgsbladlsjfadsjfbjsda
                    </p>
                </a>
                </label>
            <label class="big">
                <a href="javascript:void(0);" class="row100 col66 blank">
                    <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="datail">
                        dhadhso;dlakdabhhlfudgsbladlsjfadsjfbjsda
                    </p>
                </a>
                </label>
        </div>
    </section>

{#   首推#}
    <section class="first">
        {#        left#}
        <div class="col100 row60">
            <a href="javascript:void(0);" class="row70 col100 float-left">
                <img class="full" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
            </a>
            <label class="left">
                <a href="javascript:void(0);" class="row30 col100 float-left">
                    <img class="image" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="goodsName">商品</p>
                    <p class="price-tag">￥<span class="price-num">239</span></p>
                </a>
            </label>
        </div>
        <div class="right col100 row40">
            <div class="col50 row100">
                <a href="javascript:void(0);" class="float-left row50 col100">
                    <img class="image" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="goodsName">商品</p>
                    <p class="price-tag">￥<span class="price-num">239</span></p>
                </a>
                <a href="javascript:void(0);" class="float-left row50 col100">
                    <img class="image" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="goodsName">商品</p>
                    <p class="price-tag">￥<span class="price-num">239</span></p>
                </a>
            </div>
            <div class="col50 row100">
                <a href="javascript:void(0);" class="float-left row50 col100">
                    <img class="image" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="goodsName">商品</p>
                    <p class="price-tag">￥<span class="price-num">239</span></p>
                </a>
                <a href="javascript:void(0);" class="float-left row50 col100">
                    <img class="image" src="http://127.0.0.1:8000/static/image/sbolo-logo.png">
                    <p class="goodsName">商品</p>
                    <p class="price-tag">￥<span class="price-num">239</span></p>
                </a>
            </div>
        </div>
    </section>


</div>

{% endblock %}

