

{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content="首页">
{% endblock %}

{% block keywords%}
    <meta name="keywords" content="首页">
{% endblock %}

{% block title %}首页{% endblock %}


{% block userStyle %}
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/bottom.css">
{% endblock %}

{% block content %}

<div id="page" class="container" data-id="home">
{#广告图#}
{#    又服务器端渲染，传递一个数组，每个商品就是一个字典#}
    <section class="banner">
        {#        left#}
        <div class="col100 row50">
            <a href="{{ goodsList.banner1.goodsDescUrl }}" class="full">
                <img class="full" src="{{ goodsList.banner1.minImageUrl1 }}">
            </a>
        </div>
        <div class="col100 row50">
            <div class="col60 row100">
                <a href="{{ goodsList.banner2.goodsDescUrl }}" class="full">
                    <img class="full" src="{{ goodsList.banner2.minImageUrl1 }}">
                </a>
            </div>
            <div class="col40 row100">
                <a href="{{ goodsList.banner3.goodsDescUrl }}" class="float-left row50 col100">
                    <img class="full" src="{{ goodsList.banner3.minImageUrl1 }}">
                </a>
                <a href="{{ goodsList.banner4.goodsDescUrl }}" class="float-left row50 col100">
                    <img class="full" src="{{ goodsList.banner4.minImageUrl1 }}">
                </a>
            </div>
        </div>
    </section>

    {#人气#}
    <section class="hotgoods">
        <div class="col100 row33 float-left">
            <label class="small">
                <a href="{{ goodsList.hotGoods1.goodsDescUrl }}" class="row100 col33 blank">
                    <img class="full" src="{{ goodsList.hotGoods1.minImageUrl1 }}">
                    <p class="datail">{{ goodsList.hotGoods1.description }}</p>
                </a>
            </label>
            <label class="big">
                <a href="{{ goodsList.hotGoods2.goodsDescUrl }}" class="row100 col66 blank">
                    <img class="full" src="{{ goodsList.hotGoods2.minImageUrl1 }}">
                    <p class="datail">{{ goodsList.hotGoods2.description }}</p>
                </a>
            </label>
        </div>
        <div class="col100 row33 float-left">
            <label class="big">
                <a href="{{ goodsList.hotGoods3.goodsDescUrl }}" class="row100 col66 blank">
                    <img class="full" src="{{ goodsList.hotGoods3.minImageUrl1 }}">
                    <p class="datail">{{ goodsList.hotGoods3.description }}</p>
                </a>
            </label>
            <label class="small">
                <a href="{{ goodsList.hotGoods4.goodsDescUrl }}" class="row100 col33 blank">
                    <img class="full" src="{{ goodsList.hotGoods4.minImageUrl1 }}">
                    <p class="datail">{{ goodsList.hotGoods4.description }}</p>
                </a>
            </label>
        </div>
        <div class="col100 row33 float-left">
            <label class="small">
                <a href="{{ goodsList.hotGoods5.goodsDescUrl }}" class="row100 col33 blank">
                    <img class="full" src="{{ goodsList.hotGoods5.minImageUrl1 }}">
                    <p class="datail">{{ goodsList.hotGoods5.description }}</p>
                </a>
                </label>
            <label class="big">
                <a href="{{ goodsList.hotGoods6.goodsDescUrl }}" class="row100 col66 blank">
                    <img class="full" src="{{ goodsList.hotGoods6.minImageUrl1 }}">
                    <p class="datail">{{ goodsList.hotGoods6.description }}</p>
                </a>
            </label>
        </div>
    </section>

{#   首推#}
    <section class="first">
        {#        left#}
        <div class="col100 row60">
            <a href="{{ goodsList.first1.goodsDescUrl }}" class="row70 col100 float-left">
                <img class="full" src="{{ goodsList.first1.minImageUrl1 }}">
            </a>
            <label class="left">
                <a href="{{ goodsList.first2.goodsDescUrl }}" class="row30 col100 float-left">
                    <img class="image" src="{{ goodsList.first2.minImageUrl1 }}">
                    <p class="goodsName">{{ goodsList.first2.goodsName }}</p>
                    <p class="price-tag">￥<span class="price-num">{{ goodsList.first2.price }}</span></p>
                </a>
            </label>
        </div>
        <div class="right col100 row40">
            <div class="col50 row100">
                <a href="{{ goodsList.first3.goodsDescUrl }}" class="float-left row50 col100">
                    <img class="image" src="{{ goodsList.first3.minImageUrl1 }}">
                    <p class="goodsName">{{ goodsList.first3.goodsName }}</p>
                    <p class="price-tag">￥<span class="price-num">{{ goodsList.first3.price }}</span></p>
                </a>
                <a href="{{ goodsList.first4.goodsDescUrl }}" class="float-left row50 col100">
                    <img class="image" src="{{ goodsList.first4.minImageUrl1 }}">
                    <p class="goodsName">{{ goodsList.first4.goodsName }}</p>
                    <p class="price-tag">￥<span class="price-num">{{ goodsList.first4.price }}</span></p>
                </a>
            </div>
            <div class="col50 row100">
                <a href="{{ goodsList.first5.goodsDescUrl }}" class="float-left row50 col100">
                    <img class="image" src="{{ goodsList.first5.minImageUrl1 }}">
                    <p class="goodsName">{{ goodsList.first5.goodsName }}</p>
                    <p class="price-tag">￥<span class="price-num">{{ goodsList.first5.price }}</span></p>
                </a>
                <a href="{{ goodsList.first6.goodsDescUrl }}" class="float-left row50 col100">
                    <img class="image" src="{{ goodsList.first6.minImageUrl1 }}">
                    <p class="goodsName">{{ goodsList.first6.goodsName }}</p>
                    <p class="price-tag">￥<span class="price-num">{{ goodsList.first6.price }}</span></p>
                </a>
            </div>
        </div>
    </section>


</div>

{% endblock %}

